# used by "ducksoup" service
DS_PORT=8100
#DS_WEB_PREFIX=/path
DS_ORIGINS=http://localhost:8100,http://localhost:8080
#DS_GEN_TWCC=true
#DS_GST_ENABLE_TRACKING=true
DS_LOG_STDOUT=true
DS_LOG_FILE=log/ducksoup.log
#DS_LOG_LEVEL=3
DS_TEST_LOGIN=ducksoup
DS_TEST_PASSWORD=ducksoup
DS_STATS_LOGIN=ducksoup
DS_STATS_PASSWORD=ducksoup
DS_NVIDIA=false
DS_CONTAINER_STDERR_FILE=log/ducksoup.stderr.log
GST_DEBUG=2,videodecoder:1
#GST_DEBUG_FILE=log/gstreamer.log

# used by "db" service
POSTGRES_PASSWORD=pg_password

# used by "experiment" service
OTREE_PORT=8080
OTREE_DATABASE_URL="postgres://experiment:pg_password@db/experiment"
OTREE_ADMIN_PASSWORD=password
# ducksoup host
OTREE_DUCKSOUP_URL=http://localhost:8100/

# used by grafana
GF_PORT=3000
GF_PATH=/grafana
GF_PASSWORD=password